.title {
}

.personSection {
    padding-top: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    /*border : solid 2px #9e721c;*/
    background-color: #d5d393;
    border-radius: 4px;
}

#transaction_email.form-control {
    width: 300px;
}

.sectionTitle {
    font-size: 14px;
    font-weight: bold;
}

.bodyPage {
    padding-top: 60px;
    padding-bottom: 100px;
}

.col-form-legend, .form-control-label {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;

}

body {
    #color: #999999;
}

input#home_page_nbPersons.form-control {
    width: 50px;
}

input#home_page_visitDate.form-control {
    width: 200px;
}

.homeDiv {
    background-color: #d5d393;
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 4px;
    margin-bottom: 30px;

}

/*legend.col-form-legend.required, label.form-control-label.required {
    border-bottom : none;
    margin-bottom : 10px;
    margin-top : 15px;
    font-size:14px;
}*/

#home_page_save {
    background-color: #313131;
    color: #fff;
}

.hidden {
    display: none;
}

#transaction_nbPersons {
    width: 60px;
}

#transaction_visitDate, #transaction_persons_0_birth {
    width: 150px;
}

.btnSave {
    background-color: #776639;
    color: #fff;
    border-width: 0px;
    margin-right: 10px;
    margin-top: 20px;
}

.btnHome {
    background-color: #d5d393;
    color: #000;
    border-width: 0px;
    margin-right: 10px;
    margin-top: 40px;
}

.btnSave:hover, .btnSave:active, .btnSave:focus, .btnSave:active:focus, .btnSave.active:focus {
    background-color: #886711;
    border: 0px none;
    margin-right: 10px;
    margin-top: 30px;
    outline: none;
    box-shadow: none;

}

.indication {
    color: #313131;
    font-style: italic;
}

.general {
    margin-left: 20px;
}

h2 {

    font-size: 24px;
    margin-bottom: 20px;
}

h3 {
    font-size: 21px;
    margin-bottom: 20px;

}

h4 {
    margin-bottom: 30px;

}

label {
    margin-right: 10px;
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
    background-color: white;
    height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

#card-errors {
    color: red;
}

#informations {
    margin-bottom: 80px;
}

.museumInfo {
    background-color: #F7F3ED;
    padding-top: 20px;
    padding-bottom: 20px;

}

.museumInfo p {
    margin-bottom: 8px;
    line-height: 15px;
}

.homeText, .pageText {
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 0px;

    font-size: 16px;
}

.formHomeTitle {
    margin-bottom: 30px;
}

.paymentForm {
    background-color: #d5d393;
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 4px;
    margin-top: 30px;
}

#totalTransactionText {
    font-size : 18px;
    font-weight : bold;
}

#informationText {
    margin-top : 30px;
    margin-bottom : 40px;
}

#totalTransaction {
    border:1px solid #886711;
    padding:5px;
    max-width : 350px;
}
.required label:after{
    content: "* ";
}