
body {
    #color: #999999;
    font-family: Open Sans, sans-serif;
}


h2 {
    font-size: 30px;
    margin-bottom: 20px;
}


h3 {
    font-size: 24px;
    margin-bottom: 20px;
}


h4 {
    margin-bottom: 30px;
}


input#home_page_nbPersons.form-control {
    width: 50px;
}


input#home_page_visitDate.form-control {
    width: 200px;
}


label {
    margin-right: 10px;
}

#annotation{
    color:#a3410b;
}


#bienvenue {
    font-weight : bold;
    font-size : 20px;
    color : #886711;
}

#card-errors {
    color: red;
}


#home_page_save {
    background-color: #313131;
    color: #fff;
}


#informations {
    margin-bottom: 80px;
}


#informationText {
    margin-top : 30px;
    margin-bottom : 70px;
    font-size : 16px;
}



#totalTransaction {
    border:1px solid #886711;
    padding:5px;
    max-width : 350px;
}


#totalTransactionText {
    font-size : 18px;
    font-weight : bold;
}


#transaction_email.form-control {
    width: 300px;
}


#transaction_nbPersons {
    width: 60px;
}


#transaction_visitDate, #transaction_persons_0_birth {
    width: 150px;
}


#transactionCode {
    font-weight : bold;
    font-size : 16px;
    color : #666;
}


.bodyPage {
    padding-top: 60px;
    padding-bottom: 100px;
}


.btnHome {
    background-color: #d5d393;
    color: #000;
    border-width: 0;
    margin-right: 10px;
    margin-top: 40px;
}


.btnSave {
    background-color: #776639;
    color: #fff;
    border: 0 none;
    margin-right: 10px;
    margin-top: 20px;
}


.btnSave:hover, .btnSave:active, .btnSave:focus, .btnSave:active:focus, .btnSave.active:focus {
    background-color: #3F2204;
    color:#fff;
    /*border: 0px none;*/
    /*margin-right: 10px;*/
    /*margin-top: 20px;*/
    outline: none;
    box-shadow: none;
}


.col-form-legend, .form-control-label {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;}


.constraintMessage li {
    margin-top:5px;
    color : red;
}


.constraintMessageDiv li {
    color : red;
}


.constraintMessageDiv {
    height : 25px;
}


.data {
    color : #886711;
    font-size : 16px;
}


.form div {
    margin-bottom : 10px;
}


.formHomeTitle {
    margin-bottom: 30px;
}


.general {
    margin-left: 20px;
}


.hidden {
    display: none;
}


.homeDiv {
    background-color: #d5d393;
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 4px;
    margin-bottom: 30px;

}


.homeText, .pageText {
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 0;
    font-size: 16px;
}


.indication {
    color: #313131;
    font-style: italic;
}


.input {
    margin-bottom : 10px;
}


.museumInfo {
    background-color: #F7F3ED;
    padding-top: 20px;
    padding-bottom: 20px;
}


.museumInfo p {
    margin-bottom: 8px;
    line-height: 15px;
}


.personSection {
    padding-top: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    background-color: #d5d393;
    border-radius: 4px;
}


.paymentForm {
    background-color: #d5d393;
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 4px;
    margin-top: 30px;
}


.required label:after {
    content: "* ";
}

.sectionTitle {
    font-size: 14px;
    font-weight: bold;
}


.StripeElement {
    background-color: white;
    height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}


.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}


.StripeElement--invalid {
    border-color: #fa755a;
}


.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}
