{% extends "transactionSummary.html.twig" %}

{% block title %}Confirmation commande{% endblock %}



        {% block pageTitle %}
            Récapitulatif de votre commande
        {% endblock %}


        {% block bodyPage %}

            <p id="informationText">Nous vous remercions pour votre commande. Un mail vient de vous être envoyé. Vous devez être muni de celui-ci lors de votre venue au musée.</p>

            N° de commande : <strong>{{ transaction.transactionCode }}</strong>

            <br/><br/>
            {{ parent() }}
            <br/><br/>

            <a href="{{ path("index") }}" class='btn btn btn-info btnSave'>Revenir à l'accueil</a>



        {% endblock %}

